var colores = ['rojo','verde','azul','amayo','rosa'];
header .navegador
  nav
    ul
      li uno
      li dos
      li tres
.container
  .row
    aside
      figure
        img(src="https://www.petdarling.com/articulos/wp-content/uploads/2017/12/como-limpiar-las-arrugas-de-un-pug.jpg")
    main
      .row
        p lorem ipsum