doctype html
head
   title Hair Doctor
   meta(charset="utf-8")
   meta(name="viewport",content="width=device-width,initial-scale=1")
   meta(rel="stylesheet",type="text/css",href="tema/css/estilos.css")
   script(src="tema/js/script.js")
body
   header#header
    .grupo
        .caja
            h2.logo Hair
                span Doctors
            p.subtitle
                A premanent hair loss solutions
        .caja
            ul.menu
                li.menu__item: a.menu__link(href="#") Home
                li.menu__item: a.menu__link(href="#") About us
                li.menu__item: a.menu__link(href="#") Services
                li.menu__item: a.menu__link(href="#") Blog
                li.menu__item: a.menu__link(href="#") Contacts
    .grupo
        .caja
            .banner
                img(src="https://brilliancenewyork.com/wp-content/uploads/2014/01/banner-hair-1-2-14_mini.jpg")
                .copy
                    h2.copy__title Effective
                        span Hair Restoration
                    p.copy__description
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    a.copy__boton(href="") more
   section#servicios
        .grupo
            .caja
                h2.section-title Services
                    span What we offer to our clients!
            .caja
                .servicio
                    img.servicio__img(src="https://www.goodhairltd.com/skin/frontend/goodhair/default/images/placeholder01.jpg")
                    h3.servicio__title Hair Transplantation one
                    p.servicio__description
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            .caja
                .servicio
                    img.servicio__img(src="https://www.goodhairltd.com/skin/frontend/goodhair/default/images/placeholder01.jpg")
                    h3.servicio__title Hair Transplantation two
                    p.servicio__description
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            .caja
                .servicio
                    img.servicio__img(src="https://www.goodhairltd.com/skin/frontend/goodhair/default/images/placeholder01.jpg")
                    h3.servicio__title Hair Transplantation three
                    p.servicio__description
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

   section#clientes
        .grupo
            .caja
                .clientes
                    h2.clientes__titulo
                    .clientes__nav
                        .clientes__nav__item.clientes__nav__item--prev
                        .clientes__nav__item.clientes__nav__item--next
            .caja
                .cliente
                    img.cliente__img(src="https://www.goodhairltd.com/skin/frontend/goodhair/default/images/placeholder01.jpg")
                    h3.cliente__title Cliente 1
                    p.cliente__description
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            .caja
                .cliente
                    img.cliente__img(src="https://www.goodhairltd.com/skin/frontend/goodhair/default/images/placeholder01.jpg")
                    h3.cliente__title Cliente 2
                    p.cliente__description
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            .caja
                .cliente
                    img.cliente__img(src="https://www.goodhairltd.com/skin/frontend/goodhair/default/images/placeholder01.jpg")
                    h3.cliente__title Cliente 3
                    p.cliente__description
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

   section#noticias
        .grupo
            .caja
                .noticia
                    h3.noticia___title Titulo 1
                        span Vestido 1
                    img.noticia__img(src="https://www.goodhairltd.com/skin/frontend/goodhair/default/images/placeholder01.jpg")
                    p.noticia__description
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            .caja
                .noticia
                    h3.noticia___title Titulo 2
                        span Vestido 2
                    img.noticia__img(src="https://www.goodhairltd.com/skin/frontend/goodhair/default/images/placeholder01.jpg")
                    p.noticia__description
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            .caja
                .noticia
                    h3.noticia___title Titulo 3
                        span Vestido 3
                    img.noticia__img(src="https://www.goodhairltd.com/skin/frontend/goodhair/default/images/placeholder01.jpg")
                    p.noticia__description
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
   footer#footer
        .grupo
            .caja
                p.creditos
                    Hair Doctor &copy; 2014 | Privacy Policy
            .caja
                 .sociales
                    a(href="#").sociales__item
                    a(href="#").sociales__item
                    a(href="#").sociales__item
                    a(href="#").sociales__item
                    a(href="#").sociales__item
