// paleta de color
$color1: #547266; // Verde
$color2: #FFDE75; // Amarillo
$color3: #575757; // Gris (textos)

// estilos base
$body--background: #fff;
$body--font-family: sans-serif;
$body--color: #333;

// estilos de encabezados
$header--font-family:sans-serif;
$header--font-weight:bold;
$header--text-transform:normal;
$header--color:#222;

$h1--font-size:2em;
$h2--font-size:1.6em;
$h3--font-size:1.3em;
$h4--font-size:1em;
$h5--font-size:.9em;
$h6--font-size:.8em;

